#carouselExampleControls{
    background-size: cover;
}

#carouselExampleControls{
 height: 450px;
}

#carouselExampleControls{
    
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.329), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
}

#carouselExampleControls2{
    
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.329), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
}

